/* .navbar{
    background-color: rgb(228, 226, 70);
} */
*{
    margin: 0;
    padding: 0;
}

.nav-components-right{
    display: flex;
    float: right;
}
.header-button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

